tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow ==2.15.0
tensorflow-datasets==4.9.4
tensorflow-estimator==2.15.0
tensorflow-gcs-config==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-metadata==1.14.0
tensorflow-probability==0.23.0
tensorstore==0.1.45

tf-slim==1.1.0
tf_keras==2.15.1
keras==2.15.0
keras-tcn==3.5.0

torch == 2.2.1
torchaudio == 2.2.1
torchdata==0.7.1
torchsummary==1.5.1
torchtext==0.17.1
torchvision == 0.17.1